blockquote { color: blue ; }
h1 { color: rgba(0,0,0,0); }
td[rowspan="2"]{ color: #fff; }
strong { color: #00f; color: #f00;}
/* p { color: navy } */
blockquote { 
  color: #fff ;
  background-color: lightblue;
}
body{ 
  font-family: DFKai-SB,
}
